* text=auto

.gitattributes text eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
install.sh text eol=lf
scripts/domainctl text eol=lf
scripts/dbctl text eol=lf
